<div class="global-nav banner-container">
    <a class="banner-text" href="https://item.jd.com/12695637.html" target="_blank">
        <div class="banner-item" style="margin-right:0px;">新书上架：</div>
        <div class="banner-item title" style="margin-right:0px;">
            《Kotlin编程实践》
        </div>
        <div class="banner-item" style="margin-right:8px;">本站译者乔禹昂译</div>
        <div class="banner-item underline" style="margin-right:0px;">购买</div>
    </a>
    <a class="banner-text" href="https://item.jd.com/12898592.html" target="_blank">
        <div class="banner-item title" style="margin-right:0px;">
            《深入理解Kotlin协程》
        </div>
        <div class="banner-item" style="margin-right:8px;">中文社区负责人霍丙乾著</div>
        <div class="banner-item underline" style="margin-right:0px;">购买</div>
    </a>
    <div class="close-head-banner"></div>
    <!--
    <a class="banner-text" href="https://surveys.jetbrains.com/s3/kotlin-multiplatform-survey?utm_source=Twitter&utm_medium=Social&utm_campaign=The%20first%20KMP%20Survey%20" target="_blank">
        <div class="banner-item title">
            Take part in the first Kotlin Multiplatform user survey!
        </div>
{#        <div class="banner-item underline">#}
{#            Take Part!#}
{#        </div>#}
    </a>
    <div class="close-head-banner"></div>
    -->
</div>
